<!DOCTYPE html>
<html>
<head>
  <title>爱投社</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div data-role="page">

<div data-role="navbar">
  <ul>
    <li><a href="#" class="ui-btn-active">爱投社</a></li>
  </ul>
</div>
<!-- /navbar -->

<ul data-role="listview" data-inset="true">
  <li><a href="#"><img src="/assets/album-bb.jpg">

    <h2>线下活动1</h2>

    <p>地点：XXXXXXXX; 时间: 8:00-12:00</p></a>
  </li>
  <li><a href="#"><img src="/assets/album-bb.jpg">

    <h2>线下活动2</h2>

    <p>地点：XXXXXXXX; 时间: 8:00-12:00</p></a>
  </li>
  <li><a href="#"><img src="/assets/album-bb.jpg">

    <h2>线下活动3</h2>

    <p>地点：XXXXXXXX; 时间: 8:00-12:00</p></a>
  </li>

  <li><a href="#"><img src="/assets/album-bb.jpg">

    <h2>线下活动4</h2>

    <p>地点：XXXXXXXX; 时间: 8:00-12:00</p></a>
  </li>


  <li><a href="#"><img src="/assets/album-bb.jpg">

    <h2>线下活动5</h2>

    <p>地点：XXXXXXXX; 时间: 8:00-12:00</p></a>
  </li>

  <li><a href="#"><img src="/assets/album-bb.jpg">

    <h2>线下活动6</h2>

    <p>地点：XXXXXXXX; 时间: 8:00-12:00</p></a>
  </li>




</ul>
<div data-role="footer">
  <div data-role="navbar" data-iconpos="bottom">
    <ul>
      <li><a href="/projects" data-icon="grid" >项目</a></li>
      <li><a href="/acts" data-icon="star" class="ui-btn-active">活动</a></li>
      <li><a href="/circles" data-icon="comment">圈子</a></li>
    </ul>
  </div>

</div>
<!-- /footer -->

</div>
<!-- /pages -->

</body>
</html>

