<!DOCTYPE html>
<html>
<head>
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>




<div data-role="page">

  <div data-role="navbar">
    <ul>
      <li><a href="#" class="ui-btn-active">爱投社</a></li>
    </ul>
  </div>
  <!-- /navbar -->

  <ul data-role="listview" data-inset="true">
    <li><a href="#"><img src="/assets/album-bb.jpg">

      <h2>互联网金融</h2>

      <p>关注互联网金融(简单描述)  圈主：王二狗  帖子：12   热度：20</p></a>
    </li>
    <li><a href="#"><img src="/assets/album-hc.jpg">

      <h2>圈子2</h2>

      <p>新一代互联网投资平台(简单描述)  圈主：XXX  帖子：12   热度：20</p></a></li>
    <li><a href="#"><img src="/assets/album-p.jpg">

      <h2>圈子4</h2>

      <p>新一代互联网投资平台(简单描述)  圈主：XXX  帖子：12   热度：20</p></a></li>
    <li><a href="#"><img src="/assets/album-hc.jpg">

      <h2>圈子5</h2>

      <p>新一代互联网投资平台(简单描述)  圈主：XXX  帖子：12   热度：20</p></a></li>

    <li><a href="#"><img src="/assets/album-p.jpg">

      <h2>圈子6</h2>

      <p>新一代互联网投资平台(简单描述)  圈主：XXX  帖子：12   热度：20</p></a></li>
    <li><a href="#"><img src="/assets/album-bb.jpg">

      <h2>圈子7</h2>

      <p>新一代互联网投资平台(简单描述)  圈主：XXX  帖子：12   热度：20</p></a></li>

  </ul>
  <div data-role="footer">
    <div data-role="navbar" data-iconpos="bottom">
      <ul>
        <li><a href="/projects" data-icon="grid">项目</a></li>
        <li><a href="/acts" data-icon="star">活动</a></li>
        <li><a href="/circles" data-icon="comment" class="ui-btn-active">圈子</a></li>
      </ul>
    </div>
    <!-- /navbar -->
  </div>
  <!-- /footer -->
</div>

</body>
</html>

