<!DOCTYPE html>
<html>
<head>
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<div data-role="page">

  <div data-role="navbar">
    <ul>
      <li><a href="#" class="ui-btn-active">爱投社</a></li>
    </ul>
  </div>
  <!-- /navbar -->

  <ul data-role="listview" data-inset="true">
    <li><a href="/project-content"><img src="/assets/album-bb.jpg">

      <h2>盖尔齿科</h2>

      <p>一万元就拥有自己的齿科诊所</p></a>
    </li>
    <li><a href="/project-content"><img src="/assets/album-hc.jpg">

      <h2>配资快线</h2>

      <p>新一代互联网投资平台</p></a></li>
    <li><a href="/project-content"><img src="/assets/album-p.jpg">

      <h2>中科爱讯</h2>

      <p>领先的精准室内定位商</p></a></li>
  </ul>
  <div data-role="footer">
    <div data-role="navbar" data-iconpos="bottom">
      <ul>
        <li><a href="/projects" data-icon="grid" class="ui-btn-active">项目</a></li>
        <li><a href="/acts" data-icon="star">活动</a></li>
        <li><a href="/circles" data-icon="comment">圈子</a></li>
      </ul>
    </div>
    <!-- /navbar -->
  </div>
  <!-- /footer -->
</div>


</body>
</html>

