<!DOCTYPE html>
<html>
<head>
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
      #owl-demo .item img {
          display: block;
          width: 100%;
          height: auto;
      }
  </style>
</head>

<body>

<div data-role="page">

<!--<div data-role="header"  class="ui-btn-active" style="overflow:hidden;">-->
<!--<h1>爱投社</h1>-->
<!--    <a href="#" data-icon="gear" class="ui-btn-left">Options</a>-->
<!--  -->
<!--</div>&lt;!&ndash; /header &ndash;&gt;-->


<div data-role="navbar">
  <ul>

    <li><a href="#" class="ui-btn-active"> 爱投社</a></li>
  </ul>
</div>
<!--/navbar -->

<h3 class="ui-bar ui-bar-a ui-corner-all">盖尔齿科</h3>


<div class="ui-body ui-body-a ui-corner-all">

  <div class="ui-grid-b">
        
    <div class="ui-block-a"><img src="/assets/gaier.png" style="width:180px; height:100px"/></div>
        
    <div class="ui-block-b">
      <p>1万元就拥有自己的口腔医院</p><br>

      <form>
            <label for="slider-5">融资比例:</label>
            <input type="range" name="slider-5" id="slider-5" disabled="disabled" min="0" max="100" value="50">
      </form>

      <p>本轮融资金额：147万元 出让股权比例：20.00 %股份</p>

      <p>最低投资额：1.00 万元起最小增加金额：10000 元的倍数</p></div>
    <div class="ui-block-c"><p>我要领投</p>
      <a href="#" class="ui-btn">领投</a>


    </div>
  </div>
  <!-- /grid-a -->
</div>

<div data-role="tabs" id="tabs">
  <div data-role="navbar">
    <ul>
      <li><a href="#one" data-theme="a" data-ajax="false" class="ui-btn-active">项目介绍</a></li>
      <li><a href="#two" data-theme="a" data-ajax="false">评论互动</a></li>
      <li><a href="#three" data-theme="a" data-ajax="false">跟投记录</a></li>
      <li><a href="#four" data-theme="a" data-ajax="false">申请领投记录</a></li>
      <li><a href="#five" data-theme="a" data-ajax="false">领投理由</a></li>

    </ul>
  </div>
      
  <div id="one" class="ui-content">
        盖尔齿科股权众筹：是盖尔口腔医疗投资管理公司将麾下即将投入使用的“盖尔齿科南湖店”拿出20%的原始股份（折合人民币147万）作为实践“众人参与开医院”的众筹医疗的试点工程；实现“低投入也能终身拥有自己的健康产业”的医疗改革大尝试。盖尔齿科张开我们梦想的翅膀，未来，更多的股东加入，庞大的股东群体会带给我们更多的惊喜，我们共同期待着和盖尔伴你一起翱翔蓝天！
        

    <div id="owl-demo" class="owl-carousel owl-theme">

      <div class="item"><img src="assets/image1.png" alt="图片1"></div>
      <div class="item"><img src="assets/image2.png" alt="图片2"></div>
      <div class="item"><img src="assets/image3.png" alt="图片3"></div>

    </div>
  </div>
      
  <div id="two" class="ui-content">
            
    <ul data-role="listview">
                  
      <li>
        爱因斯坦<br>
        这个项目真棒啊。
      </li>
                  
      <li>
        乔布斯<br>
        这个项目真好啊。
      </li>

      <li>
        习近平<br>
        这个项目真棒啊。
      </li>
                  
      <li>
        李克强<br>
        这个项目真好啊。
      </li>

      <li>
        王潜行<br>
        这个项目真棒啊。
      </li>
                  
      <li>
        邓又斌<br>
        这个项目真好啊。
      </li>
    </ul>
    <br>

    <form>
           <label for="text-1">发表评论:</label>
              <textarea name="textarea-1" id="textarea-1"></textarea>

    </form>
        
  </div>

      
  <div id="three" class="ui-content">
            
    <ul data-role="listview">
                  
      <li>
        认购人：爱因斯坦<br>
        投资金额：￥124.00万元<br>
        投资理由：市场潜力巨大，看好这个公司未来的发展空间。
      </li>
                  
      <li>
        认购人：爱因斯坦<br>
        投资金额：￥124.00万元<br>
        投资理由：市场潜力巨大，看好这个公司未来的发展空间。
      </li>

      <li>
        认购人：爱因斯坦<br>
        投资金额：￥124.00万元<br>
        投资理由：市场潜力巨大，看好这个公司未来的发展空间。
      </li>

      <li>
        认购人：爱因斯坦<br>
        投资金额：￥124.00万元<br>
        投资理由：市场潜力巨大，看好这个公司未来的发展空间。
      </li>

      <li>
        认购人：爱因斯坦<br>
        投资金额：￥124.00万元<br>
        投资理由：市场潜力巨大，看好这个公司未来的发展空间。
      </li>
                  
      <li>
        认购人：爱因斯坦<br>
        投资金额：￥124.00万元<br>
        投资理由：市场潜力巨大，看好这个公司未来的发展空间。。
      </li>
    </ul>
  </div>

  <div id="four" class="ui-content">
            
    <ul data-role="listview">
                  
      <li>
        申请人：爱因斯坦<br>
        投资理由：市场潜力巨大，看好这个公司未来的发展空间。
      </li>
                  
      <li>
        申请人：爱因斯坦<br>
        投资理由：市场潜力巨大，看好这个公司未来的发展空间。
      </li>

      <li>
        申请人：爱因斯坦<br>
        申请理由：市场潜力巨大，看好这个公司未来的发展空间。
      </li>

      <li>
        认购人：爱因斯坦<br>
        投资金额：￥124.00万元<br>
        投资理由：市场潜力巨大，看好这个公司未来的发展空间。
      </li>

      <li>
        认购人：爱因斯坦<br>
        投资金额：￥124.00万元<br>
        投资理由：市场潜力巨大，看好这个公司未来的发展空间。
      </li>
                  
      <li>
        认购人：爱因斯坦<br>
        投资金额：￥124.00万元<br>
        投资理由：市场潜力巨大，看好这个公司未来的发展空间。。
      </li>
    </ul>
  </div>


  <div id="five" class="ui-content">
            
    <ul data-role="listview">
                  
      <li>
        领投人：爱因斯坦<br>
        投资金额：￥124.00万元<br>
        投资理由：市场潜力巨大，看好这个公司未来的发展空间。
      </li>
                  
      <li>
        领投人：爱因斯坦<br>
        投资金额：￥124.00万元<br>
        投资理由：市场潜力巨大，看好这个公司未来的发展空间。
      </li>
    </ul>

    <br>     
  </div>


</div>
<div data-role="footer">
  <div data-role="navbar" data-iconpos="bottom">
    <ul>
      <li><a href="/projects" data-icon="grid" class="ui-btn-active">项目</a></li>
      <li><a href="/acts" data-icon="star">活动</a></li>
      <li><a href="/circles" data-icon="comment">圈子</a></li>
    </ul>
  </div>
  <!-- /navbar -->
</div>
<!-- /footer -->
</div>


</body>
<!--<script src="owl.carousel.js"></script>-->
<script>

    $(document).on("pageinit",function(){
//        alert("pageinit event fired!");
        $("#tabs").tabs();
    });

    $(document).on('pagebeforeshow', '#index', function(){

    });


    $(document).ready(function () {

        $("#owl-demo").owlCarousel({

//            navigation: true, // Show next and prev buttons
            slideSpeed: 300,
            paginationSpeed: 400,
            singleItem: true

// "singleItem:true" is a shortcut for:
// items : 1,
// itemsDesktop : false,
// itemsDesktopSmall : false,
// itemsTablet: false,
// itemsMobile : false

        });

    });
</script>

</html>

